<link rel="stylesheet" href="/css/header.css" />
<header>
  <div class="logo">
    <a href="/"
      ><h1><i class="fas fa-dice-d20"></i> Dataly</h1></a
    >
  </div>
  <nav>
    <ul>
      <li>
        <a href="#buy"><i class="fas fa-shopping-cart"></i> Buy data</a>
      </li>
      <li>
        <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
    </ul>
  </nav>
</header>
